.main {

  min-height: 90vh;
  width: 100vw;
  border: 4px solid black;
  background-color: #f1f1f1;
  
}
.table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  width: 90%;
text-align: center;

}
table, th, td {
  border:1px solid black;
  font-size: 1.5rem;
}